/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// $base0: #4b3382;
$base0: desaturate(#4b3382,10%);

$base: adjust_hue($base0, 340), adjust_hue($base0, 345), adjust_hue($base0, 350), adjust_hue($base0, 355), adjust_hue($base0, 360), adjust_hue($base0, 5), adjust_hue($base0, 10), adjust_hue($base0, 15),  adjust_hue($base0, 20),  adjust_hue($base0, 25),  adjust_hue($base0, 30),  adjust_hue($base0, 35);

body {
	background: #fff;
}


section {
	width  : 100%;
	height : 100%;

	div {
		width               : 20%;
		height              : 200px;
		background          : url('../assets/logo.svg') center no-repeat;
		background-size     : 50% auto;
		background-position : center center;
		float               : left;
		background-color    : red;
  	}
}

@for $i from 1 through length($base) {
    section:nth-child(#{$i}) {
        background-color: nth($base,$i);

        div {
			
			position: relative;
			-webkit-transtion: all .2s;
			-moz-transtion: all .2s;
			-ms-transtion: all .2s;
			-o-transtion: all .2s;
			transtion: all .2s;

			&:before {
				display            : block;
				margin             : 25% 0;
				width              : 100%;
				text-align         : center;
				font-family        : "Avenir Next", Helvetica Neue, sans-serif;
				font-size          : 16px;
				color              : #fff;
				opacity            : 0;
				-webkit-transition : opacity .2s;
				-o-transition      : opacity .2s;
				transition         : opacity .2s;
			}

			&:hover {
				background-image: none;
				&:before {
					opacity: 1;
				}
			}
			

        	&:first-child {
        		background-color: lighten(nth($base,$i),10%);

        		&:before {
        			content: "#{lighten(nth($base,$i),5%)}";
        		}
        	}
        	&:nth-child(2) {
				background-color: lighten(nth($base,$i),5%);

        		&:before {
        			content: "#{lighten(nth($base,$i),10%)}";
        		}
			}

			&:nth-child(3) {
				background-color: nth($base,$i);

        		&:before {
        			content: "#{nth($base,$i)}";
        		}

			}

			&:nth-child(4) {
				background-color: darken(nth($base,$i), 5%);

        		&:before {
        			content: "#{darken(nth($base,$i), 5%)}";
        		}

			}

			&:last-child {
				background-color: darken(nth($base,$i), 10%);

        		&:before {
        			content: "#{darken(nth($base,$i), 10%)}";
        		}
			}
        }
    }
}
