/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  background: #fff;
}

/* line 18, ../sass/screen.scss */
section {
  width: 100%;
  height: 100%;
}
/* line 22, ../sass/screen.scss */
section div {
  width: 20%;
  height: 200px;
  background: url("../assets/logo.svg") center no-repeat;
  background-size: 50% auto;
  background-position: center center;
  float: left;
  background-color: red;
}

/* line 34, ../sass/screen.scss */
section:nth-child(1) {
  background-color: #3c3e79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(1) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(1) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(1) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(1) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(1) div:first-child {
  background-color: #45478a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(1) div:first-child:before {
  content: "#45478a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(1) div:nth-child(2) {
  background-color: #4d4f9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(1) div:nth-child(2):before {
  content: "#4d4f9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(1) div:nth-child(3) {
  background-color: #3c3e79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(1) div:nth-child(3):before {
  content: "#3c3e79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(1) div:nth-child(4) {
  background-color: #343568;
}
/* line 95, ../sass/screen.scss */
section:nth-child(1) div:nth-child(4):before {
  content: "#343568";
}
/* line 101, ../sass/screen.scss */
section:nth-child(1) div:last-child {
  background-color: #2b2c57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(1) div:last-child:before {
  content: "#2b2c57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(2) {
  background-color: #3f3c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(2) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(2) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(2) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(2) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(2) div:first-child {
  background-color: #48458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(2) div:first-child:before {
  content: "#48458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(2) div:nth-child(2) {
  background-color: #514d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(2) div:nth-child(2):before {
  content: "#514d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(2) div:nth-child(3) {
  background-color: #3f3c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(2) div:nth-child(3):before {
  content: "#3f3c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(2) div:nth-child(4) {
  background-color: #363468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(2) div:nth-child(4):before {
  content: "#363468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(2) div:last-child {
  background-color: #2d2b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(2) div:last-child:before {
  content: "#2d2b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(3) {
  background-color: #443c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(3) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(3) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(3) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(3) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(3) div:first-child {
  background-color: #4e458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(3) div:first-child:before {
  content: "#4e458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(3) div:nth-child(2) {
  background-color: #584d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(3) div:nth-child(2):before {
  content: "#584d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(3) div:nth-child(3) {
  background-color: #443c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(3) div:nth-child(3):before {
  content: "#443c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(3) div:nth-child(4) {
  background-color: #3b3468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(3) div:nth-child(4):before {
  content: "#3b3468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(3) div:last-child {
  background-color: #312b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(3) div:last-child:before {
  content: "#312b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(4) {
  background-color: #493c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(4) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(4) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(4) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(4) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(4) div:first-child {
  background-color: #54458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(4) div:first-child:before {
  content: "#54458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(4) div:nth-child(2) {
  background-color: #5e4d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(4) div:nth-child(2):before {
  content: "#5e4d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(4) div:nth-child(3) {
  background-color: #493c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(4) div:nth-child(3):before {
  content: "#493c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(4) div:nth-child(4) {
  background-color: #3f3468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(4) div:nth-child(4):before {
  content: "#3f3468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(4) div:last-child {
  background-color: #352b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(4) div:last-child:before {
  content: "#352b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(5) {
  background-color: #4f3c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(5) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(5) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(5) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(5) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(5) div:first-child {
  background-color: #5a458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(5) div:first-child:before {
  content: "#5a458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(5) div:nth-child(2) {
  background-color: #654d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(5) div:nth-child(2):before {
  content: "#654d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(5) div:nth-child(3) {
  background-color: #4f3c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(5) div:nth-child(3):before {
  content: "#4f3c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(5) div:nth-child(4) {
  background-color: #433468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(5) div:nth-child(4):before {
  content: "#433468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(5) div:last-child {
  background-color: #382b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(5) div:last-child:before {
  content: "#382b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(6) {
  background-color: #543c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(6) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(6) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(6) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(6) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(6) div:first-child {
  background-color: #5f458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(6) div:first-child:before {
  content: "#5f458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(6) div:nth-child(2) {
  background-color: #6b4d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(6) div:nth-child(2):before {
  content: "#6b4d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(6) div:nth-child(3) {
  background-color: #543c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(6) div:nth-child(3):before {
  content: "#543c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(6) div:nth-child(4) {
  background-color: #483468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(6) div:nth-child(4):before {
  content: "#483468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(6) div:last-child {
  background-color: #3c2b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(6) div:last-child:before {
  content: "#3c2b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(7) {
  background-color: #593c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(7) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(7) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(7) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(7) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(7) div:first-child {
  background-color: #65458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(7) div:first-child:before {
  content: "#65458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(7) div:nth-child(2) {
  background-color: #724d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(7) div:nth-child(2):before {
  content: "#724d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(7) div:nth-child(3) {
  background-color: #593c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(7) div:nth-child(3):before {
  content: "#593c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(7) div:nth-child(4) {
  background-color: #4c3468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(7) div:nth-child(4):before {
  content: "#4c3468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(7) div:last-child {
  background-color: #402b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(7) div:last-child:before {
  content: "#402b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(8) {
  background-color: #5e3c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(8) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(8) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(8) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(8) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(8) div:first-child {
  background-color: #6b458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(8) div:first-child:before {
  content: "#6b458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(8) div:nth-child(2) {
  background-color: #784d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(8) div:nth-child(2):before {
  content: "#784d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(8) div:nth-child(3) {
  background-color: #5e3c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(8) div:nth-child(3):before {
  content: "#5e3c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(8) div:nth-child(4) {
  background-color: #513468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(8) div:nth-child(4):before {
  content: "#513468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(8) div:last-child {
  background-color: #432b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(8) div:last-child:before {
  content: "#432b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(9) {
  background-color: #633c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(9) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(9) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(9) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(9) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(9) div:first-child {
  background-color: #71458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(9) div:first-child:before {
  content: "#71458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(9) div:nth-child(2) {
  background-color: #7f4d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(9) div:nth-child(2):before {
  content: "#7f4d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(9) div:nth-child(3) {
  background-color: #633c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(9) div:nth-child(3):before {
  content: "#633c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(9) div:nth-child(4) {
  background-color: #553468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(9) div:nth-child(4):before {
  content: "#553468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(9) div:last-child {
  background-color: #472b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(9) div:last-child:before {
  content: "#472b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(10) {
  background-color: #683c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(10) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(10) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(10) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(10) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(10) div:first-child {
  background-color: #77458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(10) div:first-child:before {
  content: "#77458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(10) div:nth-child(2) {
  background-color: #854d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(10) div:nth-child(2):before {
  content: "#854d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(10) div:nth-child(3) {
  background-color: #683c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(10) div:nth-child(3):before {
  content: "#683c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(10) div:nth-child(4) {
  background-color: #593468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(10) div:nth-child(4):before {
  content: "#593468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(10) div:last-child {
  background-color: #4b2b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(10) div:last-child:before {
  content: "#4b2b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(11) {
  background-color: #6d3c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(11) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(11) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(11) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(11) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(11) div:first-child {
  background-color: #7c458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(11) div:first-child:before {
  content: "#7c458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(11) div:nth-child(2) {
  background-color: #8c4d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(11) div:nth-child(2):before {
  content: "#8c4d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(11) div:nth-child(3) {
  background-color: #6d3c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(11) div:nth-child(3):before {
  content: "#6d3c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(11) div:nth-child(4) {
  background-color: #5e3468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(11) div:nth-child(4):before {
  content: "#5e3468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(11) div:last-child {
  background-color: #4e2b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(11) div:last-child:before {
  content: "#4e2b57";
}

/* line 34, ../sass/screen.scss */
section:nth-child(12) {
  background-color: #723c79;
}
/* line 37, ../sass/screen.scss */
section:nth-child(12) div {
  position: relative;
  -webkit-transtion: all .2s;
  -moz-transtion: all .2s;
  -ms-transtion: all .2s;
  -o-transtion: all .2s;
  transtion: all .2s;
}
/* line 46, ../sass/screen.scss */
section:nth-child(12) div:before {
  display: block;
  margin: 25% 0;
  width: 100%;
  text-align: center;
  font-family: "Avenir Next", Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
/* line 60, ../sass/screen.scss */
section:nth-child(12) div:hover {
  background-image: none;
}
/* line 62, ../sass/screen.scss */
section:nth-child(12) div:hover:before {
  opacity: 1;
}
/* line 68, ../sass/screen.scss */
section:nth-child(12) div:first-child {
  background-color: #82458a;
}
/* line 71, ../sass/screen.scss */
section:nth-child(12) div:first-child:before {
  content: "#82458a";
}
/* line 75, ../sass/screen.scss */
section:nth-child(12) div:nth-child(2) {
  background-color: #924d9b;
}
/* line 78, ../sass/screen.scss */
section:nth-child(12) div:nth-child(2):before {
  content: "#924d9b";
}
/* line 83, ../sass/screen.scss */
section:nth-child(12) div:nth-child(3) {
  background-color: #723c79;
}
/* line 86, ../sass/screen.scss */
section:nth-child(12) div:nth-child(3):before {
  content: "#723c79";
}
/* line 92, ../sass/screen.scss */
section:nth-child(12) div:nth-child(4) {
  background-color: #623468;
}
/* line 95, ../sass/screen.scss */
section:nth-child(12) div:nth-child(4):before {
  content: "#623468";
}
/* line 101, ../sass/screen.scss */
section:nth-child(12) div:last-child {
  background-color: #522b57;
}
/* line 104, ../sass/screen.scss */
section:nth-child(12) div:last-child:before {
  content: "#522b57";
}
